.footer{

          height: 100px;
          bottom: 0;
          position: absolute;
          width: 100%;
          top: 100px;
         
           
}
.footer-parent{
          position: relative;
          
        

        
}