.footer {
  height: 150px;
  bottom: 0;
  position: absolute;
  width: 100%;
  top: 100px;
}
.footer-parent {
  position: relative;
  bottom: 0;
}
.google{

  text-decoration: none;
}

.adress{
  line-height: 80%;
 
}

