.text{

          position: absolute;
          top: 80%;
          left: 50%;
          font-size: 30px;
          
          transform: translate(-50%, -50%);
        }
          

        .login {
          position: relative;
          
        }